.context {
  h1 {
    color: black;
  }
  p {
    color: black;
    margin: 36px 20vw 72px 20vw;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    text-indent: 1rem;
    line-height: 1.5rem;
    @media (max-width: 770px) {
      font-size: small;
      font-weight: 300;
      margin: 10px 13vw;
    }
  }

  .context_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
    margin: 5% auto 5% auto;
    justify-items: center;
    align-items: center;
    img {
      width: 80%;
      height: 90%;
      grid-column: 1/ 3;
    }

    .content_container {
      grid-column: 1/ 3;
      .content_title {
        display: block;
        text-align: left;
        padding: 5px;
        color: black;
        font-weight: 600;
        font-size: medium;
      }
      .content_instructor {
        display: block;
        text-align: left;
        padding: 5px;
        color: black;
        font-weight: 500;
      }
      .content_content {
        display: block;
        text-align: left;
        padding: 3px;
        color: #231313;
        font-weight: 400;
      }
    }
    .content-half_left {
      grid-column: 1/ 2;
      margin: 36px auto;
      img {
        grid-column: 1/ 2;
      }
    }

    @media (max-width: 770px) {
      span {
        font-size: small;
      }
      .content_half_left {
        margin: 0 auto;
        grid-column: 1/ 3;
      }
      row-gap: 10px;
      img {
        width: 100%;
        height: 100%;
        max-height: 200px;
      }
    }
  }
}
