.portfolio-container {
  display: flex;
  flex-direction: column;
  .portfolio {
    background-color: #f7f7f7;
    max-width: 90vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 12px auto;

    a {
      text-decoration: none;
      color: black;
      img {
        max-width: 100%;
        max-height: 70%;
      }
      p {
        font-weight: 600;
        font-size: medium;
      }
    }
  }
  @media (min-width: 770px) {
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    width: 80%;
    margin: 32px auto;
    .portfolio {
      max-width: 40vw;
      max-height: 90vh;
    }
  }
}
