.footer-text {
  font-size: medium;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: none;
  color: black;
  @media (max-width: 770px) {
    margin: 24px auto;
  }
}
